body {
	font-family: Times;
}
a :link {
	color: #0000a0;
}

.Catego {
	color: #FFFEFA;
}
.container {
	border-top: 1px solid #0566d9;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.Header {
	position: absolute;
	width: 1000px;
	height: 115px;
}
#acercaDe{
	text-align:justify;
}
#textMove{
	color: #FFFEFA;
	font-family: Verdana;
	font-weight: bolder;
}
#Logo {
	position: absolute;
	width: 105px;
	height: 105px;
	left: 2.5px;
	top: 5px;
}
#Ayuda {
	position: absolute;
	left: 950px;
	top: 2px;
}
#Eslogan {
	position: absolute;
	text-align: center;
	width: 600px;
	height: 50px;
	left: 115px;
}
#OpcHeader {
	position: absolute;
	top: 95px;
	left: 640px;
	width: 320px;
	height: 20px;
}
#btnPublic {
	position: absolute;
	padding: 5px 5px 5px 5px;
	top: 50px;
	left: 230px;
}

#divBienvenida {
	position: relative;
	top: 150px;
	left: 200px;
	width: 600px;
	height: 200px;
}
h2 {
	color: #0067ce;
	font-family: Verdana;
}
#Titulo {
	font-family: Verdana;
	text-align: center;
	color: #0067ce;
}


#BtnPubli {
	text-align: center;
	font-weight: bolder;
	font-size: larger;
	width: 200px;
	height: 50px;
}
.Btn {
	text-align: center;
	font-weight: bolder;
	font-size: small;
}
.Menu {
	position: absolute;
	background: #0566d9;
	font-weight: bold;
	font-size: medium;
	color: #FFFEFA;
	width: 1000px;
	height: 20px;
	text-align: center;
	top: 122px;
}
.Buscador {
	position: relative;
	width: 201px;
	height: 21px;
	left: 195px;
}
.ContPages {
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #0566d9;
	background: #E4EBEB;
}

#formContacto {
	margin: 0 auto;
	margin-top: 200px;
	width: 550px;
	height: 400px;
	margin-bottom: 50px;
}
#login {
	border: 1px solid #000;
	width: 500px;
	height: 30px;
	margin-left: 700px;
	margin-top: 60px;
	position: absolute;
}
#botonPublicar {
	border: 1px solid #000;
	width: 200px;
	height: 30px;
	margin-left: 250px;
	margin-top: 40px;
	position: absolute;
}
#pie {
position: relative;
	
	width: 100%;
	height: 100px;
}