body {
	
	margin: 0 auto;
	font-family: Times;
}

	#Borde1{
				border-bottom:1px solid #0566d9;
				padding-left: 20px;
				
			}
	#par1{
			border-top: 1px solid #0566d9;
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
			}
			#Borde2{
				padding-left: 20px;
			}
			#pie {
				
				border-top: 1px solid #0566d9;
				margin: 0 auto;
			
				height: 200px;
				text-align: center;
				
				
			}
	#ParTable{
		padding-top: 150px;
		padding-left:10px;
	}
			
.Catego{
	color: #FFFEFA;
}

.Header{
	position: absolute;
	width: 1000px;
	height: 115px;
}
#textMove{
	color: #FFFEFA;
	font-family: Verdana;
	font-weight: bolder;
}
#Logo{
	position: absolute;
	width: 105px;
	height: 105px;
	left:2.5px;
	top:5px;
}
#Ayuda{
	position: absolute;
	left:950px;
	top:2px;
}
#Eslogan{
	position: absolute;
	text-align: center; 
	width: 600px;
	height: 50px;
	left: 115px;
}
#OpcHeader{
	position: absolute;
	top: 95px;
	left: 570px;
	width: 450px;
	height: 20px;
}
#btnPublic{
	position: absolute;
	padding: 5px 5px 5px 5px;
	top: 50px;
	left: 230px;

}

h2{
	color: #0067ce;
	font-family: Verdana;
}

.ContPages{
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #0566d9;
	background: #E4EBEB;
}
#BtnPubli{
	text-align: center;
	font-weight: bolder;
	font-size:larger;
	width: 200px;
	height:50px;
}
.Btn{
	text-align: center;
	font-weight: bolder;
	font-size: small;	
}
.Menu{
	position: absolute;
	background: #0566d9;
	font-weight: bold;
	font-size:medium;
	color: #FFFEFA;
	width: 1000px;
	height: 20px;
	text-align: center;
	top: 122px;
}
.Buscador{
	position: relative;
	width: 201px;
	height: 21px;
	left: 195px;	
}
