body{
	font-family: Times;
}
a :link{
	color: #0000a0;
}
.Caratula{
	text-align: center;
}
.Catego{
	color: #FFFEFA;
}
.container{
	border-top: 1px solid #0566d9;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.Header{
	position: absolute;
	width: 1000px;
	height: 115px;
}
#textMove{
	color: #FFFEFA;
	font-family: Verdana;
	font-weight: bolder;
}
#Logo{
	position: absolute;
	width: 105px;
	height: 105px;
	left:2.5px;
	top:5px;
}
#Ayuda{
	position: absolute;
	left:950px;
	top:2px;
}
#Eslogan{
	position: absolute;
	text-align: center; 
	width: 600px;
	height: 50px;
	left: 115px;
}
#OpcHeader{
	position: absolute;
	top: 95px;
	left: 620px;
	width: 520px;
	height: 20px;
}
#btnPublic{
	position: absolute;
	padding: 5px 5px 5px 5px;
	top: 50px;
	left: 230px;

}
#divBienvenida{
	position: relative;
	top: 205px;
	left: 200px;
	width: 600px;
	height: 200px;	
}
h2{
	color: #0067ce;
	font-family: Verdana;
}
#Titulo{
	font-family: Verdana;
	text-align: center;
	color: #0067ce;
}
.ContPages{
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #0566d9;
	background: #E4EBEB;
}
#BtnPubli{
	text-align: center;
	font-weight: bolder;
	font-size:larger;
	width: 200px;
	height:50px;
}
#Creacion{
	position: absolute;
	left:400px;
	top: 184px;
	color: #FFFEFA;
	background: #0566d9;
	width:200px;
	text-align: center;
	font-size: small;
	font-weight: bold;
}
.Btn{
	text-align: center;
	font-weight: bolder;
	font-size: small;	
}
.Menu{
	position: absolute;
	background: #0566d9;
	font-weight: bold;
	font-size:medium;
	color: #FFFEFA;
	width: 1000px;
	height: 20px;
	text-align: center;
	top: 122px;
}
.Buscador{
	position: relative;
	width: 201px;
	height: 21px;
	left: 195px;	
}

.Destacados{
	position: relative;
	width: 1000px;
	height: 500px;
	top: 205px;
}
.Anuncio{
	position: absolute;
	border-top: 3px solid #0566d9;
	width: 500px;
	height: 200px;
	
}
.derecha{
	position: absolute;
	left:500px;
}
.abajo{
	position: absolute;
	top: 270px;
}
.ImgAnuncio{
	position: absolute;
	top: 25px;
	left:5px;
	width: 150px;
	height: 150px;
	background-size: 100% 100%;
}
.ImgAnuncio img{
	width: 100%;
}
.Descripcion{
	position: absolute;
	top:25px;
	left:165px;
	width: 330px;
	height: 150px;	
}
.mapaSitio{
	position: relative;
	top: 205px;
	width: 1000px;
	height: 200px;
}
