p{
text-align:center;
	}
	
	
	h4{ 

		position: absolute;
		font-weight: bolder;
		font-family:"Lucida Sans";
		color: #044c60;
                top: 0px;
                left: 10px;
	}
	
       h3{ 

		position: absolute;
		font-weight: bold;
		font-family:"Arial";
		color: #F7FAFC;
                top: 0px;
                left: 10px;
	}

	
	h6{ 

		position: absolute;
		font-weight: bold;
		font-family:"Lucida Sans";
		color: black;
                bottom: 0px;
                left: 200px;
	}

	
	.tituloSecundario{
		position: absolute;
		top: 90px;
		left: 60px;
		width: 765px;
		height: 25px;
		padding: 10px 100px 10px 100px;
		margin: 0px 5px 10px 5px;
	}
	
         #m{
		position: absolute; 
		top: 50px;
		left: 30px; 
		width: 300px;
		height: 10px;
		padding: 25px 2px 5px 2px;
		margin: 25px 0px 50px 0px;
	}

         #c{
		position: absolute;
		top: 125px;
		left: 20px; 
		width: 300px;
		height: 10px;
		padding: 25px 2px 5px 2px;
		margin: 25px 0px 50px 0px;
	}



	#principal{
		position: relative;
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
		
	
	
	#encabezado{
		position: absolute;
		background-color: #FBF9F5;
		width: 1150px;
		height: 150px;
		padding: 30px 100px 50px 100px;
		margin: 10px 5px 10px 5px;
                border-bottom: solid;
	}
	
	#ingresar{
		position: absolute;
		top: 300px;
		left: 320px;
		background-color: #D7DEDF;
		width: 400px;
		height: 250px;
		padding: 30px 100px 50px 100px;
		margin: 10px 5px 10px 5px;
                border: solid;
	}
	
	
	.box{
		background-color: #FBF9F5;
		
		border: solid;
                width: 100px;
		height: 250px;
	}
	
	
	.acercaDe{
		background-color: #FBF9F5;
		border-left: solid;
		border-right: solid;
		
		
	}


	
	
	#contacto.box{
		position: absolute; 
		top: 15px;
		left: 25px; 
		width: 150px;
		height: 70px;
		padding: 25px 2px 5px 2px;
		margin: 50px 10px 50px 10px;
	}
	
	#acerca.box{
		position: absolute;
		top: 70px;
		left: 250px; 
		width: 150px;
		height: 70px;
		padding: 25px 2px 5px 2px;
		margin: 50px 10px 50px 10px;
	}
	
	#contacto.acercaDe{
		position: absolute; 
		top: 70px;
		right: 80px; 
		width: 100px;
		height: 50px;
		padding: 25px 2px 5px 2px;
		margin: 50px 10px 50px 10px;
	}
	
	#acerca.acercaDe{
		position: absolute;
		top: 70px;
		right: 280px; 
		width: 100px;
		height: 50px;
		padding: 25px 2px 5px 2px;
		margin: 50px 10px 50px 10px;
	}
	
	#mail.box{
		position: absolute; 
		top: 50px;
		left: 225px; 
		width: 300px;
		height: 10px;
		padding: 25px 2px 5px 2px;
		margin: 25px 0px 50px 0px;
	}
	
	
	
	#contrasena{
		position: absolute;
		top: 125px;
		left: 225px; 
		width: 300px;
		height: 10px;
		padding: 25px 2px 5px 2px;
		margin: 25px 0px 50px 0px;
	}
	
	
	#Ingresar1{
		position: absolute;
		top: 190px;
		left: 225px; 
		width: 100px;
		height: 15px;
		padding: 25px 2px 5px 2px;
		margin: 25px 0px 50px 0px;
                background-color: #53A5DB;
               
	}
	
	
	
	
	#validacion{
		position: absolute;
		top: 700px;
		left: 0px;
		width: 985px;
		height: 80px;
		padding: 30px 100px 50px 100px;
		margin: 5px 5px 5px 5px;	
	}
