body{
	font-family: Times;
}
a :link{
	color: #0000a0;
}
.Caratula{
	text-align: center;

b
}
.Catego{
	color: #FFFEFA;




}
.container{
	border-top: 1px solid #0566d9;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;


}
.Header{
	position: absolute;
	width: 1000px;
	height: 115px;

}

#textMove{
	color: #FFFEFA;
	font-family: Verdana;
	font-weight: bolder;
}


#Logo{
	position: absolute;
	width: 105px;
	height: 105px;
	left:2.5px;
	top:5px;
}
#Ayuda{
	position: absolute;
	left:950px;
	top:2px;
}
#Eslogan{
	position: absolute;
	text-align: center; 
	width: 600px;
	height: 50px;
	left: 115px;

}
#OpcHeader{
	position: absolute;
	top: 95px;
	left: 640px;
	width: 420px;
	height: 20px;

}
#btnPublic{
	position: absolute;
	padding: 5px 5px 5px 5px;
	top: 50px;
	left: 230px;


}
#IniciarSesion{
	position: relative;
	top: 150px;
	left: 10px;
	width: 950px;
	height: 700px;	
border: 1px solid ;

}


#foto{
width: 500px;
border: 100px solid : 


}
h2{
	color: #0067ce;
	font-family: Verdana;
        font-weight: 50px;
        top: 0px;
        left: 10px;

}

.ContPages{
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #0566d9;
	background: #E4EBEB;
border: 1px solid #0566d9;

}
#BtnPubli{
	text-align: center;
	font-weight: bolder;
	font-size:larger;
	width: 200px;
	height:50px;


}
#Creacion{
	position: absolute;
	left:400px;
	top:870px;
	color: #FFFEFA;
	background: #0566d9;
	width:200px;
	text-align: center;
	font-size: small;
	font-weight: bold;


}
.Btn{
	text-align: center;
	font-weight: bolder;
	font-size: small;

}
.Menu{
	position: absolute;
	background: #0566d9;
	font-weight: bold;
	font-size:medium;
	color: #FFFEFA;
	width: 1000px;
	height: 20px;
	text-align: center;
	top: 122px;

}
.Buscador{
	position: relative;
	width: 201px;
	height: 21px;
	left: 300px;
	
}



 
